* {text-align: center;}
h1{color :blue;}
p{color: orange;}

header{background-color: #606060}

footer{background-color: #101010}

.Sommaire{background-color: #505050}

.ONE{background-color : #404040}

.TWO{background-color: #303030}

.THREE{background-color: #202020}

